

html, body {height: 100%}
body {
     background-image: url("untitled12.png");
     background-size: 50%;
     background-repeat: no-repeat;
     background-color: #4b6c8f


  }
.mainstructure{

}
.po{

    position: relative;
      top: 35%;
      left: 50%;


  }
.Projects {
  overflow:hidden;
    position: absolute;
    top: 50px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: inset;
    border-width: 172px 100px 0 100px;
    border-color: #4b6c8f transparent transparent transparent;

  -webkit-transform: rotate(60deg);

}


.Projects p {

  text-align: center;
  top: -100px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}



.About {
  overflow:hidden;
  position: absolute;
    left: -86.6px;
    width: 0;
    height: 0;
    border-style: inset;
    border-width: 172px 100px 0 100px;
    border-color: #4b6c8f transparent transparent transparent;

  -webkit-transform: rotate(0deg);

}


.About p {

  text-align: center;
  top: -100px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}
.About:hover {

  border-width: 258px 150px 0 150px;
  border-color: #4b6c8f transparent transparent transparent;
  top: -50px;


}




.Art {
  overflow:hidden;

  position: absolute;
    left: -167.3px;
    top: 50px;
    width: 0;
    height: 0;
    border-style: inset;
    border-width: 172px 100px 0 100px;
    border-color: #4b6c8f transparent transparent transparent;

    transition: border-width 0.5s, top 0.5s, left 0.5s;




  -webkit-transform: rotate(-60deg);

}
.Art:hover {

  border-width: 258px 150px 0 150px;
  border-color: #4b6c8f transparent transparent transparent;
  top: -10px;
  left: -250.5px;

}


.Art p {
  text-align: center;
  top: -100px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}
