

html, body {height: 100%}
html, body {width: 100%}
body {

     background-color: #4b6c8f


  }
.mainstructure{

}
.po{

    position: relative;
      top: 35%;
      left: 50%;



  }
.triangle{
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 172px 100px 0 100px;
  border-color: #4b6c8f #4b6c8f #4b6c8f #4b6c8f;
  position: absolute;


  transition:all 1s;
  -webkit-transition:all 1s;
  -moz-transition:all 1s;


}
.po > div:nth-child(1){

  top: 50px;
  left: 86px;
  transform-origin:50 -5;
  -ms-transform-origin:50 -5;
  -webkit-transform-origin:50 -5;
  -ms-transform: rotate(60deg) ;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg) ;
}
.po > div:nth-child(1):hover{

  transform:  translate(10%, -10%) rotate(60deg) ;

}

.po > div:nth-child(2){

  left: 0px;
  transform-origin:0 -86.6;
  -ms-transform-origin:0 -86.6;
  -webkit-transform-origin:0 -86.6;
  -ms-transform: rotate(0deg) ;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg) ;
}
.po > div:nth-child(2):hover{

  transform:  translate(0%, -10%) rotate(0deg) ;

}

.po > div:nth-child(3){
  transform-origin:50 -167.3;
  -ms-transform-origin:50 -167.3;
  -webkit-transform-origin:50 -167.3;
  left: -86px;
  top: 50px;
  -ms-transform: rotate(-60deg) ;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg) ;

}

.po > div:nth-child(3):hover{

  transform:  translate(-10%, -10%) rotate(-60deg) ;

}
.triangle p {

  text-align: center;
  top: -100px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}
.contact{
  position: relative;
    top: 50%;
    left: 50%;
}
.border {
  position: relative;
  left: -256px;
  width:512px;
  height:10px;
  background-color: skyblue;



}
