

html, body {height: 100%}
body {
     background-image: url("untitled12.png");
     background-size: 50%;
     background-repeat: no-repeat;
     background-color: #4b6c8f



  }

.po{
    position: relative;
      top: 20%;
      left: 50%;

  }
.Projects {
    position: absolute;
    top: 50px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: inset;
    border-width: 172px 100px 0 100px;
    border-color: #4b6c8f transparent transparent transparent;

  -webkit-transform: rotate(60deg);

}


.Projects p {
  text-align: center;
  top: -100px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}



.About {
  position: absolute;
    left: -86.6px;
    width: 0;
    height: 0;
    border-style: inset;
    border-width: 172px 100px 0 100px;
    border-color: #4b6c8f transparent transparent transparent;

  -webkit-transform: rotate(0deg);

}


.About p {
  text-align: center;
  top: -100px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}




.Art {
  position: absolute;
    left: -167.3px;
    top: 50px;
    width: 0;
    height: 0;
    border-style: inset;
    border-width: 172px 100px 0 100px;
    border-color: #4b6c8f transparent transparent transparent;

  -webkit-transform: rotate(-60deg);

}


.Art p {
  text-align: center;
  top: -100px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
}
