
body {
	height: 100%;
	width: 100%;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
		
	
	
}


.triangle{
	position: absolute;
  z-index: 1;
  top:12%;
  left:0%;
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 172px 100px 0 100px;
  border-color: #F2C7C8 transparent transparent transparent;
  
  -ms-transform: rotate(60deg) ;
  -webkit-transform: rotate(60deg);
  transform: rotate(90deg) ;

  transition:all 1s;
  -webkit-transition:all 1s;
  -moz-transition:all 1s;



}
.triangle p {
	
  position:absolute;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
font-size:25px;
  top: -110px;
  left: -47px;
  width: 93px;
  height: 93px;
  margin: 0px;
	
}
.triangle:hover{
	transform:  translate(10%, 0%) rotate(90deg);
	z-index: 3;
}
.rightTriangle {
	position:relative;
	width: 100%;
    height: 500px;
    
  	float: right;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 100% 100%, 80% 100%, 0 100%, 100% 80%, 100% 20%, 0 0);
    clip-path:  polygon(50% 0%, 100% 0, 100% 80%, 100% 100%, 80% 100%, 0 100%, 100% 80%, 100% 20%, 0 0);
    -webkit-shape-outside: polygon(50% 0%, 100% 0, 100% 80%, 100% 100%, 80% 100%, 0 100%, 100% 80%, 100% 20%, 0 0);
	shape-outside:  polygon(50% 0%, 100% 0, 100% 80%, 100% 100%, 80% 100%, 0 100%, 100% 80%, 100% 20%, 0 0);
	background-color: ;
	

}


.leftTriangle{
	position: relative;
		
	width: 100%;
    height: 500px;
	float: left;
	
	
	
	-webkit-clip-path: polygon(0 0, 100% 0, 0 20%, 0 80%, 100% 100%, 0 100%, 0 50%);
	clip-path: polygon(0 0, 100% 0, 0 20%, 0 80%, 100% 100%, 0 100%, 0 50%);
	-webkit-shape-outside: polygon(0 0, 100% 0, 0 20%, 0 80%, 100% 100%, 0 100%, 0 50%);
	shape-outside:  polygon(0 0, 100% 0, 0 20%, 0 80%, 100% 100%, 0 100%, 0 50%);
	
	
	
	
	
	
	
	
}
.text{
	
}

#information{
	width:500px;
	position:relative;
	left:10%;
	
	
}
#information p{
	left: 5%;
	
}

.project{
	position:relative;
	height:500px;
	min-width: :400px;
	width:100%;
	
	overflow: hidden;
	background-image: url(left.png);
	background-size: 100% 100%;
	
}
#leftside{
	position:absolute;
	width: 40%;
	left: 50%;
	top:12%;
	
	
	
	
	
	
}

#leftside .project:nth-child(odd){
	
	background-image: url(right.png);
}

.imgplace{
	position:absolute;
	top: 12%;
	left:12%;
	width: 35%;
	height: 100%;
	overflow:auto;
	z-index: 1;
	
}
.vidplace{
	width:35%;
	left:12%;
	position:relative;
	padding-bottom:18.4275%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	
	
	
	
}

.vidplace iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 2;
}
.projimage{
	width:100%;
}
.text{
	margin:10px;
	
	
}
#displayText{
	
	margin: 10px;
}
#information{
	z-index: 2;
}
.ltext{
	
	margin: 10px;
	text-align: right;
	
	
	
	
}
#background{
	z-index: -3;
	position: absolute;
	left:-2005px;
	top:-600px;
	
}
.lft{
	 width:100%;
    height:100%;
	z-index: -1;
}


.lftbk{
	
	
	
	z-index: 0;
	height:500px;
	min-width: :400px;
	width:100%;
	background-color:black;
	
	
}


h1{ margin: 10px;
	font-family: 'Anton', sans-serif;
	color: #273A40;
	font-size: 70px;
}


h2{
	font-family: 'Anton', sans-serif;
	color: #273A40;
	
	
	
	
}
p{
   font-family: 'Magra', sans-serif;
	
}

a{
	color: #273A40;
	
}
#git{
	position:absolute;
	top:90%;
	left: 20%;
	text-decoration: overline;
	font-family: 'Magra', sans-serif;
}


